<!DOCTYPE html>
<html lang="en">

<head>
	<title>LazyLectureBot | Home</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>
</head>

<body>

	<nav class="navbar navbar-default navbar-static top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">
					<img alt="Brand" src="..."> <!-- TODO : Replace with logo -->
				</a>
			</div>
		</div>
	</nav> <!--  TODO : Complete Navigation Bar -->

	<div class="login-wrapper">
		<label>: Login Form :</label>
		<form method="post">
			Username:<br>
			<input type="text"></input><br>
			Password:<br>
			<input type="password"></input><br>
			Confirm Password:<br>
			<input type="password"></input><br>
			<input type="submit" value="Submit"></input>
		</form>
	</div>

	<div class="signup-wrapper">
		<label>: Logout Form :</label>
		<form method="post">
			Username:<br>
			<input type="text"></input><br>
			Password:<br>
			<input type="password"></input><br>
			<input type="submit" value="Submit"></input>
		</form>
	</div>
</body>
</html>