{% extends "main/base.html" %}
{% load staticfiles %}
{% block title %}Upload | {{block.super}}{% endblock title %}

{% block content %}
{{block.super}}

<div class="container-fluid">
	<div class="row">
		<form id="upload-form" method="POST" action="." class="col-md-4 col-md-offset-4"
              enctype="multipart/form-data">{% csrf_token %}
			<div><h1>Upload A Video</h1></div>
			<!-- FILE UPLOAD GROUP-->
			<div class="form-group">
				<!--input type="file" accept="video/*" name="uploadedFile"/-->
				{{ form.video_file }}
			</div>
			<!-- TITLE GROUP-->
			<div class="form-group">
				<label>Title</label>
				<!--input type="text" class="form-control" name="title" placeholder="Title"></input-->
				{{ form.title }}
			</div>
			<!-- DESCRIPTION GROUP-->
			<div class="form-group">
				<label>Description</label>
				<!--textarea rows="5" class="form-control" placeholder="Write something about the video..." name="description"></textarea-->
				{{ form.description }}
			</div>
			<!-- PRIVACY GROUP-->
			<div class="form-group">
				<label>Privacy Settings</label>
				{{form.public_access}}
			</div>
			<div>{{form.media}}</div>
			<!--SUBMIT BUTTON-->
			<button type="submit" class="btn btn-primary btn-lg" style="background-color: rgb(46, 204, 113); border-radius: 0px; border-style: none;"><b>UPLOAD</b></button>
		</form>
	</div>
	<!--- THIS AMBITIOUS CODE TBI in the future if I have more time
	<div>
		<form method="POST" action="." class="row">{% csrf_token %}
			<div class="col-md-4 col-md-offset-2">
				<div class="form-group">
					<label>Upload Videos</label>
					
					<input type="file" id="fileselect" class="form-control" style="border:0px; box-shadow: inset 0 1px 1px rgba(0,0,0,0)" /><button type="submit" id="uploadsubmitbutton">Upload Video</button>
					< File drag and Drop Area ->
					<div id="filedrag" style="	height: 400px; 
												border: dotted 3px gray; 
												margin: 10px;">
						<center style="margin-top: 190px; color:rgb(189, 195, 199)"><b>You can drag and drop your files here!</b></center>
					</div><- End of File and Drag Area->
				</div>
				<div id="messages">
				</div>
			</div>

			<div class="col-md-4" id="form-extension">
				<div class="form-group">
					<label>Title</label>
					<input type="text" class="form-control" placeholder="Title" name="title" />
				</div>
				<div class="form-group">
					<label>Description</label>
					<textarea class="form-control" rows="3" placeholder="Write something about your video..." name="description"></textarea>
				</div>
				<div class="form-group">
					<label>Privacy Settings</label>
					<div class="radio">
						<label>
							<input type="radio" name="publicAccess" value="True" checked/>
							Public
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="publicAccess" value="False" />
							Private
						</label>
					</div>
				</div>
				<button type="submit" id="uploadsubmitbutton" class="btn btn-primary">Upload Video</button>
			</div>
		</form>
	</div>
	<script src='{% static "js/upload_handler.js" %}'></script>END OF AMBITIOUS CODE-->
</div>
{% endblock content %}