{% extends "main/base.html" %}
{% load staticfiles %}
{% block title %}Upload | {{block.super}}{% endblock title %}
{% block head %}{{block.super}}{{form.media}}{% endblock head %}


{% block content %}
{{block.super}}

<div class="container-fluid">
	<div class="row">
		<form id="upload-form" method="POST" action="." class="col-md-4 col-md-offset-4"
              enctype="multipart/form-data">{% csrf_token %}
			<div><h1>Upload A Video</h1></div>
			<!-- TITLE GROUP-->
			<div class="form-group">
				<div>Title</div>
				{{ form.title }}
			</div>
			<!-- DESCRIPTION GROUP-->
			<div class="form-group">
				<div>Description</div>
				{{ form.description }}
			</div>
			<!-- PRIVACY GROUP-->
			<div class="form-group">
				<div>Privacy Settings</div>
				{{form.public_access}}
			</div>
			
			<!-- FILE UPLOAD GROUP-->
			<label>Video</label>
			<div class="form-group" style="padding: 20px 20px 60px 20px; border: solid 1px gray">
				{{ form.video_file }}
			</div>
			<div>{{form.media}}</div>
			<!--SUBMIT BUTTON-->
            <div class="submit-row">
                <button type="submit" class="btn btn-primary btn-lg" style="background-color: rgb(46, 204, 113); border-radius: 0px; border-style: none;"><b>UPLOAD</b></button>
            </div>
		</form>
	</div>
</div>
{% endblock content %}