{% extends "main/base.html" %}
{% block title %}Video Title | {{block.super}}{% endblock title %}
{% block content %}
{{block.super}}
<div class="container">
	<div class="row">
		<div class="col-md-7">
			<video width=640 height=360 controls poster="https://placeholdit.imgix.net/~text?txtsize=69&txt=740%C3%97416&w=740&h=416">
				<source src="testmovie.mp4" type="video/mp4">
				<source src="testmovie.ogg" type="video/ogg">
				Your browser does not support this video tag
			</video>
			<div><h1>TITLE</h1></div>
			<div>poster_name</div>
			<div>posted on 00/00/00</div>
			<div style="overflow: auto; height: 300px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
Nisi commodo esse nulla ex occaecat ut labore sunt enim nostrud Lorem veniam, adipisicing elit, sit undefined aliquip anim occaecat adipisicing officia irure pariatur. dolor Ut consectetur do dolor voluptate laborum. mollit et voluptate fugiat voluptate veniam, sit exercitation veniam, quis in eiusmod in irure nisi voluptate proident, anim Ut esse aliquip sint ea et sint consectetur do</div>
		</div>
		<div class="col-md-5">
			<div><h3>Transcript:</h3></div>
			<div style="overflow: auto; height: 780px">
			<dl class="dl-horizontal">
				<dt><a>0:00 - 0:15</a></dt>
				<dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</dd>
				<dt><a>0:15 - 0:30</a></dt>
				<dd>Ut officia dolor laborum. fugiat irure occaecat tempor incididunt voluptate proident, officia laborum. enim officia velit in ad ea nisi sed culpa id Excepteur in laborum. Ut in laboris exercitation occaecat est do et tempor dolor eiusmod consequat. incididunt anim sint ut anim consequat. sunt quis Duis sunt cupidatat occaecat incididunt dolor elit.</dd>
				<dt><a>0:30 - 0:45</a></dt>
				<dd>Fugiat in ut esse aliqua. elit, pariatur. anim voluptate adipisicing do magna deserunt elit, qui eu laboris proident, Duis tempor reprehenderit elit, sed ut est ullamco proident, nisi aliquip ipsum fugiat incididunt ullamco sint id officia qui est Duis ex et dolor ut in velit incididunt dolore cupidatat nisi mollit officia officia pariatur. in pariatur. in veniam, culpa pariatur. quis laborum. mollit do dolore commodo amet, fugiat fugiat qui sit.</dd>
				<dt><a>0:45 - 1:00</a></dt>
				<dd>Excepteur eiusmod ullamco sit est eu commodo adipisicing Duis aliquip nulla aliquip veniam, commodo aute eu consequat. commodo ea dolore laboris voluptate labore aute dolore pariatur. veniam, nisi non dolore dolor velit aliqua. nostrud Excepteur ea Excepteur velit Duis est reprehenderit ipsum dolore irure non qui cillum pariatur. cupidatat deserunt dolor do sunt consectetur non culpa Duis in laboris sed dolor.</dd>
				<dt><a>1:00 - 1:15</a></dt>
				<dd>Adipisicing sint officia consectetur ex aliqua. in quis mollit exercitation incididunt qui nisi enim velit ut elit, ullamco ea non anim enim ut reprehenderit amet, in in non consectetur fugiat sit voluptate dolor do nisi Ut in sit labore in irure sit undefined dolore ea laboris culpa nostrud aliqua. voluptate irure officia proident.</dd>
				<dt><a>1:15 - 1:30</a></dt>
				<dd>Excepteur culpa Duis dolore proident, cupidatat esse et in dolore Duis mollit est occaecat officia adipisicing dolore ullamco enim exercitation dolore laboris nostrud sunt nisi anim irure ad culpa dolore in in quis labore Excepteur reprehenderit consectetur dolor ut sit aliqua. sed culpa aliquip amet, tempor occaecat Excepteur deserunt magna ea ut exercitation et consequat. dolor sunt adipisicing dolor sunt voluptate aliquip cillum.</dd>
				<dt><a>1:30 - 1:45</a></dt>
				<dd>Eu amet, culpa id dolor voluptate consectetur nisi adipisicing consequat. exercitation in reprehenderit cillum tempor cupidatat Duis pariatur. nisi anim nostrud sunt Duis cillum non dolor laboris aliquip Ut mollit incididunt dolor cupidatat est pariatur. eiusmod reprehenderit anim anim ea laboris pariatur. undefined sint sit ipsum nulla irure eiusmod eiusmod ex eu occaecat cillum.</dd>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-5">

		</div>
	</div>
	<div class="col-md-7">
			
	</div>
</div>

{% endblock content %}