{% extends "main/base.html" %}

{% block title %}Log-In | {{block.super}}{% endblock title %}

{% block content %}
{{block.super}}

<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4" style="padding: 40px 40px 40px 40px;">
			<div class="">
				<form method="POST" action=".">{% csrf_token %}
					<div class="form-group">
						{{ form.username.errors }}
						<label for="{{form.username.id_for_label}}">Username</label>
						{{form.username}}
					</div>
					<div class="form-group">
						{{ form.password.errors }}
						<label for="{{form.password.id_for_label}}">Password</label>
						{{form.password}}
					</div>
					<input type="submit" value="Log In" class="btn btn-primary btn-block btn-lg" style="border-radius: 0px;"></input>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock content%}