<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title %}Lazy Lecture Bot{% endblock title %}</title>
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	 
</head>

<body>
	<div>
		{% block content %}
		<!-- NAVIGATION BAR -->
		<nav class="navbar navbar-default"> 
			<div class="container-fluid">
				<a class="navbar-brand" href='{% url "index" %}'>LazyLecturebot.com</a>

				{% if request.user.is_authenticated %}
				<span class="navbar-text navbar-right"><a href='{% url "logoff" %}'>logoff</a></span>
				<span class="navbar-text navbar-right">Hello, <a href='{% url "profile" username=request.user.username %}'>{{user.username}}</a></span>
				<span class="navbar-text navbar-right">+ Add A Video</span>
				
				{% elif not request.user.is_authenticated and not "/login" in request.get_full_path %}
				<a href='{% url "signup" %}'>Sign-Up</a>

				<!-- LOGIN FORM-->
				<form class="navbar-form navbar-right" method="POST" action='{% url "auth_login" %}'>{% csrf_token %}
					<div class="form-group">
						<input type="text" class="form-control" name="username" placeholder="Username" />
					</div>
					<div class="form-group">
						<input type="password" class="form-control" name="password" placeholder="Password" />
					</div>
					<button type="submit" class="btn btn-default">Login</button>
				</form>

				
				{% endif %}

			</div>
		</nav> <!--END OF NAVIGATION BAR -->
		{% endblock content %}
	</div>
	
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>

