<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title %}Lazy Lecture Bot{% endblock title %}</title>
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	 
</head>

<body>
	<div>
		{% block content %}
		<!-- NAVIGATION BAR -->
		<nav class="navbar navbar-default container-fluid" style="padding-right:0px;"> 
			<div class="col-md-8">
				<a class="navbar-brand" href='{% url "index" %}'><b>Lazy Lecture Bot</b></a>
				<!-- SEARCH BAR -->
				<form class="navbar-form navbar-left" role="search">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="What are you looking for?" style="width: 490px"></input>
						<button class="btn btn-default btn" type="button">Search</button>
					</div>
				</form> <!-- END OF SEARCH BAR -->
			</div>

			<!-- RIGHT NAVBAR ELEMENTS -->
			<div class="col-md-4" style="padding-right: 0px;">
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						{% if not request.user.is_authenticated and not "/login" in request.get_full_path %}
						<!--NAVBAR DROPDOWN-->
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sign In <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li>
									<div class="container-fluid">
										<form class="navbar-form" method="POST" action="{% url 'auth_login' %}">{% csrf_token %}
											<div class="form-group" style="margin-top:15px">
												<label>Username</label>
												<input type="text" class="form-control" name="username" placeholder="Username" />
											</div>
											<div class="form-group" style="margin-top: 15px">
												<label>Password:</label>
												<input type="password" class="form-control" name="password" placeholder="Password" />
											</div>
											<button type="submit" class="btn btn-primary btn-md btn-block" style="margin-top: 15px; margin-bottom: 15px">Log In</button>
										</form>
									</div>
								</li>
								<li><div class="container-fluid" style="margin-bottom: 15px"><a href="{% url 'signup' %}" class="btn btn-default" style="margin-left: 15px; padding-left: 70px; padding-right: 75px;">Sign Up</a></div></li>
							</ul>
						</li>
						{% elif request.user.is_authenticated %}
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span>{{user.username}}</span>  <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="{% url 'profile' user.username %}">My Profile</a></li>
								<li><a href="/">Settings</a></li>
								<li><a href="{% url 'logoff' %}">Log Off</a></li>
							</ul>
						</li>
						<li><a href="..." class="btn" style="background-color: rgb(52, 152, 219); color:white; border-radius: 0px"><b>UPLOAD</b></a></li>
						{% endif %}
					</ul>
				</div>
			</div>

		</nav> <!--END OF NAVIGATION BAR -->
		{% endblock content %}
	</div>
	
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>

