{% extends "main/base.html" %}

{% block content %}
{{block.super}}

<div class="container" style="padding-top: 30px;">

	<div class="row">
		<select name="filter" id="filter-select">
		    <option value="mostRecent" selected>Most Recent</option>
		    <option value="mostViewed" >Most Viewed</option>
		    <option value="topRated" >Top Rated</option>
		    <option value="trending" >Trending</option> 
		</select>
	</div>
	<div style="margin-top:30px;">
		<div class="row">
			{% if not vp %}
				WHOOPS THE DATABASE IS EMPTY!
			{% endif %}

		    {% for v in vp %}
			<!-- VIDEO PREVIEW -->
			<div class="col-sm-4 col-md-3 nopadding"> 
				<div class="thumbnail video-card" style="border-style: none; ">
					<!-- THUMBNAIL IMAGE -->
		      		<a href="{% url 'watch_video' v.id %}"><div class="img-container"><img src='https://placehold.it/300x169' alt="..."/ class="img-responsive"></div></a>
		      		<!-- OTHER INFORMATION -->
		      		<div class="caption">
		      			<!-- VIDEO TITLE -->
		        		<b><a href="{% url 'watch_video' v.id %}">{{ v.title }}</a></b>
		        		<!-- VIDEO AUTHOR -->
		        		<div><a href="{% url 'profile' v.author %}" style="color:black">{{ v.author }}</a></div>
		      		</div>
		      	</div>
		    </div><!-- END OF VIDEO PREVIEW -->
		    {% endfor %}
		</div>
	</div>

	<style type="text/css">
		.caption {
			padding: 10px 0px 0px 5px;
		}

		.video-card {
			border-radius: 4px !important;
			box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !important;
			transition: all 0.3s cubic-bezier(.25,.8,.25,1) !important;
			margin-bottom: 18px !important;
			padding: 0px;
			height: 226px;
		}

		.video-card:hover{
			box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) !important;
			border: 1px solid grey !important;
		}

		.img-container {
		}
		.thumbnail img {
			height: 160px;
			margin: 0px !important;
			display: block;
			object-fit: cover;
		}

		.eotl {
			background-color: grey;
		}
	</style>

	<script type="text/javascript">
		$( "#filter-select" ).change(function() {
		
		  console.log($( "#filter-select" ).val());
		});
	</script>
</div>
{% endblock content %}