{% for v in vp %}
<!-- VIDEO PREVIEW -->
<div class="col-sm-4 col-md-3 nopadding">
    <div class="thumbnail video-card" style="border-style: none; ">
        <!-- THUMBNAIL IMAGE -->
        <a href="{% url 'watch_video' v.id %}">
            <div class="img-container" style="background-color: black;"><img class="img-responsive" src='{{ v.thumb_url }}'
             alt="" style="border-top-right-radius: 4px; border-top-left-radius: 4px;" /></div>
        </a>
        <!-- OTHER INFORMATION -->
        <div class="caption">
            {% if show_favorites and user.is_authenticated %}
                {% if user.id in v.favorited_by %}
                    <i id="favorited" style="float: right" class="fa fa-heart"
                       data-vp-id="{{ v.id }}" data-user-id="{{ user.id }}"
                       onclick="doFavorite(this)"></i>
                {% else %}
                    <i id="favorited" style="float: right" class="fa fa-heart-o"
                       data-vp-id="{{ v.id }}" data-user-id="{{ user.id }}"
                       onclick="doFavorite(this)"></i>
                {% endif %}
            {% endif %}
            <!-- VIDEO TITLE -->
            <b><a href="{% url 'watch_video' v.id %}">{{ v.title }}</a></b>
            <!-- VIDEO AUTHOR -->
            <div><a href="{% url 'profile' v.author %}" style="color:black">{{ v.author }}</a></div>
        </div>
    </div>
</div><!-- END OF VIDEO PREVIEW -->
{% endfor %}

<style type="text/css">
    .caption {
        padding: 10px 0px 0px 5px;
    }

    .video-card {
        border-radius: 4px !important;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !important;
        transition: all 0.3s cubic-bezier(.25,.8,.25,1) !important;
        margin-bottom: 18px !important;
        padding: 0px;
        height: 226px;
    }

    .video-card:hover{
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) !important;
        border: 1px solid grey !important;
    }

    .img-container {
    }
    .thumbnail img {
        height: 160px;
        margin: 0px !important;
        display: block;
        object-fit: cover;
    }
</style>
